.profile {
  margin: 36.25px auto 0;
  display: flex;
  align-items: center;
}

.profile__avatar {
  height: 120px;
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar_edit {
  position: absolute;
  left: 47px;
  top: 47px;
  opacity: 0;
}

.profile__avatar-container:hover .profile__avatar_edit {
  opacity: 100%;
  transition: opacity 0.3s ease-in 0s;
}

.profile__avatar-container:hover .profile__avatar_edit:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__avatar-container:hover .profile__avatar {
  opacity: 25%;
  cursor: pointer;
  transition: opacity 0.3s ease-in 0s;
}

.profile__info {
  margin: 0 30px 0 30px;
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  gap: 16px 18px;
}

.profile__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  margin: auto 0 auto;
  padding: 0;
  background: url(../images/svg/Edit-Button_disabled.svg) transparent center
    no-repeat;
  border: 1px solid #fff;
  grid-area: button;
  transition: opacity 0.3s ease-in 0s;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__about {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 0;
  background: url(../images/svg/Add-Button_disabled.svg) transparent center
    no-repeat;
  border: 2px solid #fff;
  transition: opacity 0.3s ease-in 0s;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

@media screen and (max-width: 675px) {
  .profile {
    margin: 38.25px auto 0;
    flex-direction: column;
  }

  .profile__info {
    margin: 26.25px 0 0;
    grid-template-columns: minmax(auto, 196px) auto;
    gap: 14px 10px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.21;
  }

  .profile__info-explorer {
    font-size: 14px;
    text-align: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    margin: 36px 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .profile__add-button {
    max-width: calc(100% - 40px);
  }
}
